<%= simple_form_for @contract do |f| %>
  <%= f.error_messages %>
  <%= f.association :customer , :collection => Customer.all(:order => 'name'), :prompt => "Choose a Customer" %>
  <%= f.input :name%>
  <%= f.association :contract_type , :collection => ContractType.all(:order => 'name'), :prompt => "Choose a type" %>
  <p> </p> 
  <%= f.input :revenue %>
  <%= f.input :execution_date%>
  <p> </p>
  <%= f.association :phase, :collection => Phase.all(:order => 'name'), :placeholder => 'Enter Phase'%>
  <%= f.association :status, :collection => Status.all(:order => 'name') %>
  <%= f.association :state, :collection => State.all(:order => 'name') %>
  <%= f.input :active%>
  <%= f.button :submit%>
<% end %>
