<% title "Contract" %>

<h1> Contract </h1>
<p>
  <strong>Customer:</strong>
  <%= @contract.customer.name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @contract.name %>
</p>
<p>
  <strong>Type:</strong>
  <%= @contract.contract_type.name %> 
</p>
<p>
  <strong>Revenue:</strong>
  <%= number_to_currency(@contract.revenue) %> 
</p>
<p>
  <strong>Execution Date:</strong>
  <%= @contract.execution_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @contract.active %>
</p>

<p>
  <strong>Created: </strong><%= @contract.created_at.to_formatted_s(:long)  %>
  <strong>  Updated: </strong><%= @contract.updated_at.to_formatted_s(:long)  %>
</p>

<p>
  <%= link_to "Edit", edit_contract_path(@contract) %> |
  <%= link_to "Destroy", @contract, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", contracts_path %>
</p>
