<% title "Customer" %>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>
<p>
  <strong>Street:</strong>
  <%= @customer.street %>
</p>
<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>
<p>
  <strong>Zipcode:</strong>
  <%= @customer.zipcode %>
</p>
<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>
<p>
  <strong>Active:</strong>
  <%= @customer.active %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>
<p>
  <strong>Mobile:</strong>
  <%= @customer.mobile %>
</p>

<p>
  <%= link_to "Edit", edit_customer_path(@customer) %> |
  <%= link_to "Destroy", @customer, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", customers_path %>
</p>
