<% title "Setup" %>
<h3> Setup Code Tables</h3>


	
<table>
    <tr>
      <th>Code Table</th>
      <th>Description</th>
    </tr>
  
    <tr> 
      <td><%= link_to "Contract Detail Categories", categories_path %></td>
      <td>Defines the category assigned to line item in a contract</td>
    </tr>
	
    <tr> 
      <td><%= link_to "Contract Types", contract_types_path %></td>
      <td>Defines the type codes assigned to a contract</td>
    </tr>
	
	 <tr> 
      <td><%= link_to "Phases", phases_path %></td>
      <td>Defines the workflow phases of a contract</td>
    </tr>
	
	 <tr> 
      <td><%= link_to "States", states_path %></td>
      <td>Defines the overall state of a contract or contract detail</td>
    </tr>
	
	 <tr> 
      <td><%= link_to "Statuses", statuses_path %></td>
      <td>Defines the overal status of a contract or contract detail</td>
    </tr>
</table>

