<% title "Phases" %>

<table>
  <tr>
    <th>Name</th>
    <th>Active</th>
  </tr>
  <% for phase in @phases %>
    <tr>
      <td><%= phase.name %></td>
      <td><%= phase.active %></td>
      <td><%= link_to "Show", phase %></td>
      <td><%= link_to "Edit", edit_phase_path(phase) %></td>
      <td><%= link_to "Destroy", phase, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Phase", new_phase_path %></p>
