<% title "Contract Details" %>
<div class="span-10">

  <fieldset>
  <legend>Customer</legend>
  <table>
  <tr><th>  #  </th><th>Name</th><th>City</th><th>State</th> </tr>
	<% for customer in @customer %>
	  <tr>
  	  <td><%= customer.id %></td>
	  <td><%= customer.name %></td>
	  <td><%= customer.city %></td>
	  <td><%= customer.state %></td>
	  </tr>
	<%end%>

   </table>
</fieldset>
</div>

<div class="span-14 last">

<fieldset>
  <legend>Contract</legend>
  <table>
  <tr><th>  #  </th><th>Name</th><th>Revenue</th><th>Executed</th> </tr>

	  <tr>
  	  <td><%= @contract.id %></td>
	  <td><%= @contract.name %></td>
	  <td><%= number_to_currency(@contract[:revenue]) %></td>
	  <td><%= @contract.execution_date %></td>
	
	  </tr>


  </table>
</fieldset>
</div>

<fieldset>
  <legend>Details</legend>
  
  <table>  	
  
    <th>Category</th>
    <th>Revenue</th>
    <th>Hours</th>
    <th>Hours Used</th>
    <th>State</th>
    <th>Status</th>
    <th>Assigned To</th>

    </tr>
    <% for contract_detail in @contract_details %>
      <tr class="align-right">
   
      <td align="left"><%= contract_detail.category.name %></td>
      <td  class="align-right"><%= number_to_currency(contract_detail.revenue)%></td>
      <td  class="align-right"><%= contract_detail.hours %></td>
      <td  class="align-right"><%= contract_detail.hours_used %></td>
      <td><%= contract_detail.state.name unless contract_detail.state.nil? %></td>
      <td><%= contract_detail.status.name unless contract_detail.status.nil? %></td>
      <td><%= contract_detail.assigned_to %></td>
      <td><%= link_to "Show", contract_detail %></td>
      <td><%= link_to "Edit", edit_contract_detail_path(contract_detail) %></td>
      <td><%= link_to "Delete", contract_detail, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
	<tr>
		<th>Total:</th><th ><%= number_to_currency(@contract_details.sum(:revenue))%></th>
		<th ><%= @contract_details.sum(:hours)%></th>
		<th ><%= @contract_details.sum(:hours_used)%></th>
	</tr>	
  </table>
</fieldset>  

<p><%= link_to "Add new detail row",new_details_path(@contract.id) %></p>

