<header>
  <%= image_tag("molar.png", :alt => "Molar", :class => "round") %>
		
  <nav class="round">
	<ul>
     <li><%= link_to "Home", home_path %></li>
     <li><%= link_to "Customers", customers_path %></li>
	 <li><%= link_to "Contracts", contracts_path %></li>
     <li><%= link_to "Sign in", :login %></li>
    </ul>
  </nav>
</header>